* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: url(../assets/plataforma/fundoPlataforma.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.boxes {
    display: flex;
    width: 1460px;
    height: 802px;
}

.navBox {
    width: 357px;
    height: 100%;
    background-color: #311934;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nomePerfil {
    color: #FFFFFF;
    margin: 30px auto;
    font-size: 18px;
    text-align: center;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #e0e0e0;
    overflow: hidden
}

.fotoPerfil img {
    width: 100%;
    height: 105%;
    scale: 1.3;
    object-fit: cover;
    justify-content: center;
}

.navButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scale: 1.15;
    margin-top: 40px;
}

#boxIcons {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    right: 250px;
    gap: 5px;
}

.iconBtn {
    background-color: #fe50db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    z-index: 1;
}

.btn {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.btn::before {
    width: 200px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: #fc29d2;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: hard-light;
}

.btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.btn:active {
    transform: translateX(10px);
    transition-duration: .1s;
}

.interfaceBox {
    width: 1103px;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.3);
}

.boxLogo {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.boxLogo img {
    width: 110px;
}

.txtDireitos {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.407);
    width: 500px;
    text-align: center;
    padding-bottom: 300px;
}



